</div>
<!-- Contact -->
<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <h4>Useful Links</h4>
        <ul class="list-unstyled pull-left">
          <li><a ui-sref="terms">FAQs</a></li>
          <li><a ui-sref="privacy">Our Prices</a></li>
          <li><a ui-sref="cookies">Privacy Policy</a></li>
          <li><a ui-sref="cookies">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-2">
        <h4>Twin Products</h4>
        <ul class="list-unstyled pull-left">
          <li><a ui-sref="terms">Employment &amp; Training</a></li>
          <li><a ui-sref="privacy">Work &amp; Volunteer</a></li>
          <li><a ui-sref="cookies">English Centres</a></li>
          <li><a ui-sref="cookies">Group Travel</a></li>
          <li><a ui-sref="cookies">Accommodation</a></li>
        </ul>
      </div>
      <div class="col-offset-lg-5 col-lg-3 pull-right">
        <div class="footer-logo">
          <img class="pull-left" src="assets/images/logo.jpg" height="60px">
          <h6>Group Travel</h6>
        </div>
        <address>
          <b>Twin Group</b><br>
          The Greenwich Centre<br>
          12 Lambarde Square<br>
          Greenwich, London<br>
          SE10 9GB<br>
          Tel: <a href="tel:+442082692910">+44 (0) 20 8269 2910</a><br>
          Fax: <a href="tel:+442082695660">+44 (0) 20 8269 5660</a>
        </address>
      </div>
    </div>
  </div>
</footer>
</div>
</div>
