<style>
.large-image img {
    width: 100%;
}
.large-image {
    position: relative;
}
.large-image a {
    position: absolute;
    bottom: 0;
    color: #228b96;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 10px;
    bottom: 10px;
}
.large-image a i {
    font-size: 30px;
}
.thumbnail-images {
    height: 200px;
    display: block;
    overflow: hidden;
    margin-top: 10px;
		position: relative;
}
.thumbnail-images ul {
    width: 3000px;
    max-width: initial;
    height: 200px;
		position: relative;
		transition: all linear .3s;
		-moz-transition: all linear .3s;
		-webkit-transition: all linear .3s;

}
.thumbnail-images ul li {
    width: 200px;
}
.thumbnail-images ul li img {
    width: 200px;
    height: 200px;
}
button.btn.btn-primary {
    background: #771177;
    border: 1px solid #771177;
    border-radius: 0;
    padding: 15px 30px;
}
.col-lg-4.related-attraction img {
    width: 100%;
    height: auto;
}
</style>

<div id="attraction-{{vm.attraction.id}}" class="single-attraction" ng-controller="AttractionController as vm">
	<!-- {{vm.attraction}} -->
	<div class="container">
		<div class="row">
			<div class="loader" ng-if="vm.loading"  class="fade-content">
				<div id="fountainG">
					<div id="fountainG_1" class="fountainG"></div>
					<div id="fountainG_2" class="fountainG"></div>
					<div id="fountainG_3" class="fountainG"></div>
					<div id="fountainG_4" class="fountainG"></div>
					<div id="fountainG_5" class="fountainG"></div>
					<div id="fountainG_6" class="fountainG"></div>
					<div id="fountainG_7" class="fountainG"></div>
					<div id="fountainG_8" class="fountainG"></div>
				</div>
			</div>
			<div ng-if="!vm.loading" class="fade-content">
			 	<div class="col-lg-12">
				<h1>{{vm.attraction.title}}</h1>
				<div class="experience-tags">
					<ul class="list-inline">
							<li ng-repeat="xp in vm.attraction.experiences"><i class="tag1-icon"></i></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-7 attraction-image">
				<div class="large-image">
					<img ng-src="{{vm.mainImage}}" />
					<a ng-click="vm.addAttraction(vm.attraction)"><i class="glyphicon glyphicon-heart"></i></a>
				</div>
				<div class="thumbnail-images">
					<ul ng-style="vm.thumbnailStyle" class="list-inline">
						<li ng-repeat="image in vm.attraction.thumbnails" class="col-lg-4"><a ng-click="vm.setImage($index)"><img ng-src="{{image}}" width="100%" /></a></li>
					</ul>
					<span class="left carousel-control" ng-click="vm.movePosition('left')">
							 <span class="glyphicon glyphicon-chevron-left"></span>
					 </span>
					 <span class="right carousel-control" ng-click="vm.movePosition('right')">
							<span class="glyphicon glyphicon-chevron-right"></span>
					 </span>
				</div>
			</div>
			<div class="col-lg-5 attraction-description">
				<div ng-bind-html="vm.attraction.body | unsafe"></div>
				<address>
					{{vm.attraction.field_address_address_line1}}
					{{vm.attraction.field_address_address_line2}}
					{{vm.attraction.field_address_country_code}}
					{{vm.attraction.field_address_postal_code}}
				</address>
				<button ng-click="vm.addAttraction(vm.attraction)" class="btn btn-primary">Add to selection</section>
			</div>
			<div class="col-lg-12 attraction-location">
				<h3>Location</h3>
				<div class="attraction-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.5391499026014!2d-0.12173704886296358!3d51.50332397953459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2sCoca+Cola+London+Eye!5e0!3m2!1sen!2suk!4v1496947306981" width="1200" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<hr>
			</div>
			<div class="col-lg-12 related-attractions">
				<h2>You might also like:</h2>
			</div>
			<div ng-repeat="related in vm.related" class="col-lg-4 related-attraction">
				<a ui-sref="attraction({id: related.nid})"><img ng-src="{{related.field_feature}}" /></a>
				<a ui-sref="attraction({id: related.nid})"><h3>{{related.title}}</h3></a>
				<div ng-bind-html="related.body | unsafe"></div>
				<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque leo lorem, sagittis eget dictum vitae, ornare eu dui. Vestibulum nisl augue, aliquam ac aliquet ut, condimentum sit amet augue. Nullam vitae cursus arcu. Sed fringilla eget ligula id egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sed cursus sapien. Duis dictum vestibulum convallis.</p> -->
			</div>
			<!-- <div class="col-lg-4 related-attraction">
				<img src="http://placehold.it/300x300" />
				<h3>Heading</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque leo lorem, sagittis eget dictum vitae, ornare eu dui. Vestibulum nisl augue, aliquam ac aliquet ut, condimentum sit amet augue. Nullam vitae cursus arcu. Sed fringilla eget ligula id egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sed cursus sapien. Duis dictum vestibulum convallis.</p>
			</div>
			<div class="col-lg-4 related-attraction">
				<img src="http://placehold.it/300x300" />
				<h3>Heading</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque leo lorem, sagittis eget dictum vitae, ornare eu dui. Vestibulum nisl augue, aliquam ac aliquet ut, condimentum sit amet augue. Nullam vitae cursus arcu. Sed fringilla eget ligula id egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sed cursus sapien. Duis dictum vestibulum convallis.</p>
			</div> -->
		</div>
	</div>
	</div>
</div>
