<div id="attraction-{{vm.attraction.id}}" class="single-attraction" ng-controller="AttractionController as vm">
  <div class="container">
	   <div class="row">
		     <div class="loader" ng-if="vm.loading"  class="fade-content">
				     <div id="fountainG">
    				     <div id="fountainG_1" class="fountainG"></div>
      					 <div id="fountainG_2" class="fountainG"></div>
      					 <div id="fountainG_3" class="fountainG"></div>
      					 <div id="fountainG_4" class="fountainG"></div>
      					 <div id="fountainG_5" class="fountainG"></div>
      				 	 <div id="fountainG_6" class="fountainG"></div>
      					 <div id="fountainG_7" class="fountainG"></div>
      					 <div id="fountainG_8" class="fountainG"></div>
				     </div>
			   </div>
			   <div ng-if="!vm.loading" class="fade-content">
			 	     <div class="col-lg-12">
				          <h1>{{vm.attraction.title}}</h1>
				          <div class="experience-tags">
          					<ul class="list-inline">
          				      <li ng-repeat="xp in vm.attraction.experiences"><i class="tag1-icon"></i></li>
          					</ul>
				          </div>
			       </div>
			       <div class="col-lg-7 attraction-image">
				           <div class="large-image">
					             <img ng-src="{{vm.mainImage}}" />
					             <a ng-click="vm.addAttraction(vm.attraction)"><i class="glyphicon glyphicon-heart"></i></a>
				           </div>
				           <div class="thumbnail-images">
					             <ul ng-style="vm.thumbnailStyle" class="list-inline">
						               <li ng-repeat="image in vm.attraction.thumbnails" class="col-lg-4"><a ng-click="vm.setImage($index)"><img ng-src="{{image}}" width="100%" /></a></li>
					             </ul>
					             <span class="left carousel-control" ng-click="vm.movePosition('left')">
							             <span class="glyphicon glyphicon-chevron-left"></span>
					             </span>
            					 <span class="right carousel-control" ng-click="vm.movePosition('right')">
            							<span class="glyphicon glyphicon-chevron-right"></span>
            					 </span>
				           </div>
			         </div>
			         <div class="col-lg-5 attraction-description">
				           <div ng-bind-html="vm.attraction.body | unsafe"></div>
                   <button ng-click="vm.addAttraction(vm.attraction)" class="btn btn-primary">Add to selection</section>
			         </div>
			         <div class="col-lg-12 attraction-location">
				           <h3>Location</h3>
				           <div class="attraction-map">
                       <ng-map default-style="true" center="{{vm.attraction.coordinates.lat}},{{vm.attraction.coordinates.lng}}" zoom="4">
                           <marker id="foo" position="{{vm.attraction.coordinates.lat}},{{vm.attraction.coordinates.lng}}"
                          on-click="map.showInfoWindow('bar')">
                           </marker>
                           <info-window id="bar" visible-on-marker="foo">
                               <div ng-non-bindable>
                                   <h1 id="firstHeading" class="firstHeading">{{vm.attraction.title}}</h1>
                                   <div id="bodyContent">
                                      <address>
                                					{{vm.attraction.address.address1}}
                                					{{vm.attraction.address.address2}}
                                					{{vm.attraction.address.county}}
                                					{{vm.attraction.address.postcode}}
                                			</address>
                                    </div>
                              </div>
                          </info-window>
                      </ng-map>
				          </div>
				          <hr>
			        </div>
			        <div class="col-lg-12 related-attractions">
				          <h2>You might also like:</h2>
			        </div>
			        <div ng-repeat="related in vm.related" class="col-lg-4 related-attraction">
				          <a ui-sref="attraction({id: related.nid})"><img ng-src="{{related.field_feature}}" /></a>
				          <a ui-sref="attraction({id: related.nid})"><h3>{{related.title}}</h3></a>
				          <div ng-bind-html="related.body | unsafe"></div>
			        </div>
			    </div>
	    </div>
	</div>
</div>
