<div ng-controller="HomeController as vm">
	<section class="hero">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="attraction-form form form-inline">
						<div class="form-group visit">
							<label>Where to <b>{{vm.homepage.search.where.value[0].title}}</b></label>
							<input type="text" class="form-control"
								 kendo-autocomplete
								 k-data-source="customersDataSource"
								 k-data-text-field="'title'"
             		 k-data-value-field="'nid'"
								 k-ng-model="vm.homepage.search.where.value"
								 k-ng-focus="vm.homepage.search.where.placeholder = 'Search Location or Attractions e.g. London or British Museum'"
								 k-ng-blur="vm.homepage.search.where.placeholder = 'Anywhere'"
								 search-box />
						</div>
						<div class="form-group when">
							<label>When <b>{{vm.homepage.search.when.value}}</b></label>
							<input placeholder="{{vm.homepage.search.when.placeholder}}" type="text" id="datepicker" class="form-control"
						ng-model="vm.homepage.search.when.value">
						</div>
						<div class="form-group duration">
							<label>Duration <b>{{duration}}</b></label>
							<input type="number" placeholder="0" min="0" class="form-control" ng-model="duration" />
						</div>
						<div class="form-group search">
							<button>Search</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="top-picks">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="loader" ng-if="vm.loading"  class="fade-content">
						<div id="fountainG">
							<div id="fountainG_1" class="fountainG"></div>
							<div id="fountainG_2" class="fountainG"></div>
							<div id="fountainG_3" class="fountainG"></div>
							<div id="fountainG_4" class="fountainG"></div>
							<div id="fountainG_5" class="fountainG"></div>
							<div id="fountainG_6" class="fountainG"></div>
							<div id="fountainG_7" class="fountainG"></div>
							<div id="fountainG_8" class="fountainG"></div>
						</div>
					</div>
					<div ng-if="!vm.loading" class="fade-content">
						<h2>Top picks</h2>
						<div ng-repeat="attraction in [vm.homepage.attractions[0], vm.homepage.attractions[1]] track by $index" class="col-lg-4 col-md-4">
							<div class="image">
								<a ui-sref="attraction({id:attraction.id})"  class="image-link"><img ng-src="{{attraction.images[0]}}" /></a>
								<a ng-click="vm.addAttraction(attraction)" class="selection-link"><i class="glyphicon glyphicon-heart"></i></a>
							</div>
							<a><h3>{{attraction.title}}</h3></a>
							<div ng-bind-html="attraction.body | unsafe"></div>
							<a ui-sref="attraction({id:attraction.id})" class="read-more">Read more <i class="glyphicon glyphicon-triangle-right"></i></a>
						</div>
						<div class="col-lg-4 col-md-4">
							<ul class="list-inline">
								<li ng-repeat="attraction in [vm.homepage.attractions[2], vm.homepage.attractions[3], vm.homepage.attractions[4]] track by $index" class="col-lg-6  attraction-thumb">
									<a ui-sref="attraction({id:attraction.id})" >
										<img ng-src="{{attraction.images[0]}}" />
										<h3>{{attraction.title}}</h3>
									</a>
									<a ng-click="vm.addAttraction(attraction)" class="selection-link"><i class="glyphicon glyphicon-heart"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="our-locations">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<h2>Our Locations</h2>
					<div id="map" class="locations-map">
						<ng-map zoom="8" center="[40.74, -74.18]">
					    <custom-marker position="[{{p.coordinates.lat}}, {{p.coordinates.lng}}]" ng-repeat="p in vm.map">
					      <div class="cm">
					        {{p.title}}<br>
									{{p.location.city}}, {{p.location.postcode}}
					      </div>
					    </custom-marker>
					  </ng-map>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
