<section id="quote-management" ng-controller="SelectionController as vm">
  <div id="selection-summary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <button class="selection-btn"><i class="glyphicon glyphicon-heart"></i> <span>My selection</span></button>
        </div>
        <div class="col-lg-9">
          <ul class="list-inline quote-stats pull-right">
            <li class="days-needed">Attractions selected</li>
            <li><span>{{cart.length}}</span></li>
            <li class="days-needed">Days needed</li>
            <li><span>3</span></li>
            <li>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
            </li>
            <li><button>Get Quote</button></li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="selection-content" class="row animate-show" ng-show="selections" ng-init="selections = false">
    <div id="selection">
      <div class="col-lg-12 col-md-12">
        <ul class="list-inline">
          <li ng-repeat="attraction in cart">
            <a ng-click="vm.removeAttraction($index)"><i class="glyphicon glyphicon-remove"></i></a>
            <img ng-src="{{attraction.thumbnails[0]}}" />
            <h6>{{attraction.Title}}</h6>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <a class="selection-toggle" ng-class="{'show-selection':selections}" ng-click="selections = !selections"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
</section>
