<!-- ***** About View ***** -->
<!-- Hero -->
<section id="hero" class="short">
	<div class="hero">
		<img src="assets/images/hero.jpg" class="back" width="100%" />
		<div class="front text-center">
			<h1>About</h1>
		</div>
	</div>
</section>
<!--  Content -->
<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<p>Xpozure Performing Arts School invites everyone to participate in fun, productive, street dance sessions using current dance styles and a variety of the up-to-date music genres.</p>
				<p>Xpozure has successfully developed street dance &amp; performance into an organised structure that influences young people to constructively develop their talents and abilities within a friendly atmosphere.</p>
				<p>The Xpozure school also provides continuous combinations of exercise and programmes to portray dance as a respectable positive art form, that can be entertaining and enjoyed by everyone - also as a creative forum of excellence that any young person will be proud to be part of, enjoyed by a wide range of ages: children (5 years upwards), teenagers and adults; from first timers to advance dancers - everyone irrespective of ability, are welcome to participate.</p>
				<div class="row image-row">
					<div class="col-lg-3">
						<img src="http://placehold.it/400x420" width="100%">
					</div>
					<div class="col-lg-3">
						<img src="http://placehold.it/400x420" width="100%">
					</div>
					<div class="col-lg-3">
						<img src="http://placehold.it/400x420" width="100%">
					</div>
					<div class="col-lg-3">
						<img src="http://placehold.it/400x420" width="100%">
					</div>
				</div>
				<p>A dedicated team of management staff and choreographers provide all the elements that contribute to the popularity and success of the performance/dance classes.</p>
				<p>Xpozure is the innovative mind behind youth culture in its most original art form Street Dance &amp; Performance.</p>
				<p>Xpozure Performing Arts is the way that young people choose to artistically interpret and convey their views through their talents. This can be entertainingly expressed in music, dance, fashion and film.</p>
				<div class="row image-row">
					<div class="col-lg-3">
						<img src="http://placehold.it/400x420" width="100%">
					</div>
					<div class="col-lg-3">
						<img src="http://placehold.it/400x420" width="100%">
					</div>
					<div class="col-lg-3">
						<img src="http://placehold.it/400x420" width="100%">
					</div>
					<div class="col-lg-3">
						<img src="http://placehold.it/400x420" width="100%">
					</div>
				</div>
				<p>Xpozure brings this inspiring entertaining expression to the masses, whilst generating opportunities for young people and helps many others to discover and develop their talents.</p>
				<p>Xpozure was set up by Mr. Skerrett to provide a platform that allows children, teenagers &amp; adult’s dancers to perform in the forefront rather than in the background. This platform was to also provide young people the opportunity to display their talents that revolved around their current interest in music and dance style, whilst entertaining a live audience.</p>
				<p>Dance has become a family social class out, apart from dazzling the audience into disbelieve with outstanding combinations of dance moves, aerial acrobatics and exceptional choreography.</p>
			</div>
		</div>
	</div>
</section>