<!-- Hero -->
<section id="hero" class="short">
	<div class="hero">
		<img src="assets/images/hero.jpg" class="back" width="100%" />
		<div class="front text-center">
			<h1>Find and Book Classes in London</h1>
		</div>
	</div>
</section>
<section id="filter-classes" class="filter">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="form list-inline">
					<li class="form-group location">
						<input type="text" name="address" placeholder="enter Postcode or address">
					</li>
					<li class="form-group day">
						<input type="text" name="address" placeholder="Choose a day">
					</li>
					<li class="form-group style">
						<input type="text" name="address" placeholder="Choose a style">
					</li>
					<li>
						<button>Filter Classes</button>
					</li>
				</ul>
				<div class="clearfix"></div>
				<span id="results">Results data will goes here</span>
			</div>
		</div>
	</div>
</section>
<section id="xpozure-classes" class="result-set">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12"><h5>Classes from XPOZURE</h5></div>
			<!-- Loop Through Cards -->
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
			<!-- Loop Through Cards -->
			<!-- Dummy Data -->
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
		</div>
	</div>
</section>
<section id="classes"  class="result-set">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12"><h5>Other Classes</h5></div>
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
			<div class="col-lg-3"><div class="card">
				<a data-toggle="modal" data-target="#myModal"><img src="http://placehold.it/350x200" width="100%"></a>
				<div class="card-content">
					<h4>THIS IS AN CLASS TITLE</h4>
					<p>Nulla eros metus, sagittis quis dui eu, porta iaculis ligula. Praesent non tempus mi, ac lac...<a data-toggle="modal" data-target="#myModal">read more</a></p>
					<div class="location"><i></i> Brixton Rec, SW2</div>
					<div class="date-time"><i></i> Every Monday, 7:30pm-9pm</div>
					<div class="booking">
						<div class="pull-left price">£7.00/£5.00 Conc</div>
						<div class="pull-right book">
							<button>Book Class</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div></div>
			<!-- Dummy Data -->
		</div>
	</div>
</section>
