<!-- ***** About View ***** -->
<!-- Hero -->
<section id="hero" class="short">
	<div class="hero">
		<img src="assets/images/hero.jpg" class="back" width="100%" />
		<div class="front text-center">
			<h1>Contact</h1>
		</div>
	</div>
</section>
<!--  Content -->
<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p class="text-center">Please leave a message and some would be in touch with you shortly.</p>
				<div class="form">
					<div class="form-group">
						<input type="text" name="name" class="form-control" placeholder="Name">
					</div>
					<div class="form-group">
						<input type="text" name="email" class="form-control" placeholder="Email">
					</div>
					<div class="form-group">
						<input type="text" name="subject" class="form-control" placeholder="Subject">
					</div>
					<div class="form-group">
						<textarea class="form-control" name="message" placeholder="Enter your Message"></textarea>
					</div>
					<button>Send Message</button>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="map" class="clearfix text-center">
	<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2487.0383611805887!2d-0.1367354840054959!3d51.43908937962392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876042dd5d3e499%3A0xe61b617840aa16cd!2s14+Beckett+Cl%2C+London+SW16+1AN!5e0!3m2!1sen!2suk!4v1484529434357" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
	<div class="banner">
		<h4>Our Office</h4>
		<address>Office address</address>
		<ul class="list-unstyled">
			<li>Number 1</li>
			<li>Number 2</li>
			<li>Email</li>
			<li>
				<ul class="list-inline">
					<li>F</li>
					<li>Tw</li>
					<li>Li</li>
					<li>In</li>
				</ul>	
			</li>
		</ul>
	</div>
</section>