<!-- ***** About View ***** -->
<!-- Hero -->
<section id="hero" class="short">
	<div class="hero">
		<img src="assets/images/hero.jpg" class="back" width="100%" />
		<div class="front text-center">
			<h1>Cookies</h1>
		</div>
	</div>
</section>
<!--  Content -->
<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit dui eros, et convallis enim condimentum a. Aenean nec nulla felis. Nam consectetur justo porttitor metus pellentesque, at faucibus elit varius. Maecenas tincidunt orci est, ut vehicula felis sodales sed. Praesent molestie, elit eget eleifend faucibus, nibh nunc auctor ex, nec tincidunt eros ipsum at sapien. Aenean vel turpis volutpat orci condimentum vehicula. Quisque luctus tincidunt ipsum. Nam nisl nisi, laoreet vitae nisi et, viverra tempor elit. Sed pellentesque blandit enim, porttitor tincidunt lorem lacinia non. Etiam vitae nibh maximus, auctor massa non, finibus arcu. Phasellus vitae pretium lorem, in eleifend lectus. Maecenas mollis facilisis eros, id facilisis purus bibendum eu. Aliquam luctus elit ac leo eleifend porttitor.</p>
				<p>Ut volutpat eleifend dolor ac placerat. Fusce enim sapien, vehicula feugiat accumsan eget, pulvinar et mauris. Aenean vestibulum at nisl a pellentesque. Quisque ac mi nec risus scelerisque finibus. In tempus diam in dolor euismod, quis maximus lacus bibendum. Sed vel dui leo. Donec mollis sollicitudin mauris, eget placerat nunc tristique varius. Pellentesque nec accumsan arcu. Proin lacinia lectus sapien, non porttitor nunc pellentesque ut. Sed auctor molestie dui at luctus.
				<p>Morbi leo tortor, bibendum id dolor vel, sollicitudin accumsan arcu. Fusce non metus sapien. Nunc pulvinar enim ac ante ornare maximus. Fusce quis ultrices leo. Vestibulum molestie vitae dolor blandit tempus. Vivamus vitae dui turpis. Duis maximus rutrum velit ac eleifend. Morbi viverra suscipit aliquet. Proin pharetra neque in erat elementum, mattis euismod elit laoreet. Duis felis nisl, condimentum at nisl sed, convallis volutpat nisi. Donec consectetur egestas libero. Fusce vehicula ante eu lorem hendrerit, in hendrerit tellus tincidunt.</p>
				<p>Nulla finibus pulvinar fermentum. Donec tincidunt tellus vel elit sagittis molestie. Vivamus id nunc sed eros tristique dictum quis eget quam. Suspendisse pharetra a ex eu gravida. Phasellus sed convallis purus. Vivamus id risus eu eros rhoncus consequat. Sed efficitur massa eu enim hendrerit accumsan rhoncus vel sem. Aenean leo urna, bibendum sit amet velit a, sollicitudin vestibulum nibh.</p>
				<p>Pellentesque condimentum non sapien non consequat. Donec scelerisque facilisis justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam vitae metus ipsum. Proin bibendum quam a condimentum pharetra. Vivamus a mi nec erat maximus sagittis. Aenean urna massa, semper quis fringilla vel, sollicitudin a massa. Integer id vulputate urna, sit amet cursus mi. Nullam finibus eros id suscipit facilisis. Nulla laoreet at neque ac rutrum. Curabitur ut augue nec odio dignissim congue. Nunc aliquam ut ligula a commodo. Maecenas aliquam diam arcu, a egestas quam finibus in.</p>
			</div>
		</div>
	</div>
</section>