<div ng-controller="StylesController">
	<!-- Hero -->
<section id="hero" class="short">
	<div class="hero">
		<img src="assets/images/hero.jpg" class="back" width="100%" />
		<div class="front text-center">
			<h1>Styles</h1>
		</div>
	</div>
</section>
<section id="filter-styles" class="filter">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="form list-inline">
					<li class="form-group name">
						<input type="text" name="style_name" ng-model="style_name" placeholder="Search Styles">
					</li>
					<li class="form-group type">
						<input type="text" name="teacher" placeholder="Choose Teacher">
					</li>
					<li>
						<button>Filter Styles</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="dance-styles" class="result-set">
	<div class="container">
		<div class="row">
			<!-- Loop Through Cards -->
			<div class="col-lg-3" ng-repeat="style in styles">
				<a data-toggle="modal" data-target="#myModal"><div class="card">
					<img src="http://placehold.it/350x200" width="100%">
					<div class="card-overlay">
						<h4>{{style.title}}</h4>
					</div>
				</div></a>
			</div>
		</div>
	</div>
</section>	
</div>
