<div ng-controller="TeachersController">
	<!-- Hero -->
	<section id="hero" class="short">
		<div class="hero">
			<img src="assets/images/hero.jpg" class="back" width="100%" />
			<div class="front text-center">
				<h1>Teachers</h1>
			</div>
		</div>
	</section>
	<section id="filter-teachers" class="filter">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="form list-inline">
						<li class="form-group name">
							<input type="text" name="teacher_name" ng-model="teacher_name" placeholder="Search Teachers">
						</li>
						<li class="form-group type">
							<input type="text" name="date" placeholder="Choose Style">
						</li>
						<li>
							<button>Filter Teachers</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section id="teachers" class="result-set">
		<div class="container">    
			<div class="row">
				<div class="col-lg-12 text-center">
					<p>The educators that empower you to move</p>
				</div>
				<div class="loader" ng-if="loading">
					<div id="fountainG">
						<div id="fountainG_1" class="fountainG"></div>
						<div id="fountainG_2" class="fountainG"></div>
						<div id="fountainG_3" class="fountainG"></div>
						<div id="fountainG_4" class="fountainG"></div>
						<div id="fountainG_5" class="fountainG"></div>
						<div id="fountainG_6" class="fountainG"></div>
						<div id="fountainG_7" class="fountainG"></div>
						<div id="fountainG_8" class="fountainG"></div>
					</div>
				</div>
				<!-- Loop Through Cards -->
				<div ng-if="!loading" ng-repeat="teacher in teachers | filter:teacher_name" class="col-lg-3">
					<a data-toggle="modal" data-target="#myModal" class="card">
						<img src="{{teacher.thumbnail}}" width="100%">
						<div class="card-overlay">
							<h4>{{teacher.title}}</h4>
							<h5>Choreography/Founder</h5>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</div>