<!-- ***** Search View ***** -->
<style>
  /* remove once images are resized corrctly */
  .carousel-inner>.item>a>img, .carousel-inner>.item>img {
      width: 100%;
      height: 225px;
  }
</style>
<style>
section#content {
    padding: 0;
}

.content {
    margin-top: 159px;
}

section#content {
    position: relative;
    width: 100%;
    /*height: 500px;*/
}


/*div#map-view {
	position: absolute;
	top: 0;
	left: 0;
	right: 50%;
	bottom: 0;
	height: 100%;
	width: 50%;
}*/

div#content-view {
	background: red;
	position: relative;
	top: 0;
	left: 50%;
	width: 50%;
	right: 0;
	bottom: 0;
	padding: 0 20px;
}
iframe {
    position: ABSOLUTE;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
i.xp-icon {
  width: 20px;
  height: 20px;
  display: block;
  border: 1px solid #228b96;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  padding: 0 !important;
  text-indent: 10000px;
  margin-bottom: 5px;
}
.attraction.featured p {
    font-size: 14px;
		clear:both;
}
div#map-view {
    /*position: fixed;*/
    /*top: 159px;*/
    left: 0;
    bottom: 0;
    height: 100%;
    width: 34%;
    background: yellow;
    z-index: 1;
}
.attraction.featured {
    height: 532px;
    clear: both;
		background: #f6f6f6;
		padding: 7px;
}
div#results-filter {
	height: 50px;
	background: white;
	position: fixed;
	z-index: 5;
	top: 159px;
	left: 34%;
	right: 0;
}
#results-filter .attraction-form.form.form-inline {
    padding: 0;
    width: 100%;
}
.attraction-form ul {
    border-bottom: 1px solid #e8e8e8;
    height: 50px;
    margin: 0;
    width: 100%;
}
.attraction-form li a {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e8e8e8;
    font-size: 14px;
    position: relative;
    padding-right: 30px;
}
.attraction-form li a i {
    position: absolute;
    right: 15px;
    top: 20px;
    color: #228b96;
    font-weight: 100;
    font-size: 12px;
}
.attraction {
    background: white;
    margin-bottom: 20px;
}
#results {
    position: relative;
    left: 34%;
    width: 66%;
}
div#results-view {
    position: relative;
}
.attraction-info {
    width: 70%;
    float: left;
    padding: 0 0 5px;
}
ul.xp-tags.list-inline {
    width: 30%;
    float: right;
}
.attraction-info h4 {
  margin: 0;
  text-align: left;
  line-height: 1.2;
}
a.attraction-location {
  font-size: 12px;
  clear: both;
  display: block;
  text-align: left;
  margin: 0 0 10px;
}
ul.xp-tags.list-inline li {
    padding: 0 0 0 5px;
    float: right;
}
.carousel {
    position: relative;
}
.attraction {
    clear: both;
}
.attraction .carousel {
    margin-bottom: 10px;
}
a.attraction-title {
    display: block;
    float: left;
    margin-bottom: 5px;
}
a.highlight {
    font-weight: 400;
    color: #228b96;
    text-transform: uppercase;
}
div#map-view {
  position: relative;
}
div#map-view.affix-bottom {
    position: relative;
    -webkit-backface-visibility: hidden !important;

}
div#map-view {
    position: absolute;
}
div#map-view.affix-start {
    position: fixed;
    top: 159px;
}
div#map-view.affix-stop {
    position: absolute;
    top: 0;
}
div#results {
  position: relative;
  padding-top: 70px;
  height: 100%;
  overflow: scroll;
}
div#wrapper,
div#page,
.content,
div#ui-view,
section#content
{
    height: 100%;
}
ul.pagination li a, ul.pagination li > span {
    border-radius: 50% !important;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #228b96;
    font-weight: 400;
    padding: 0;
    border: 2px solid #228b96!important;
    margin: 0 5px;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    line-height:1;
}

ul.pagination li {
    padding: 0 10px;
}

ul.pagination li a span {
    border: none !important;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover,.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: white;
    background: #228b96;
}
.attraction-filter-dropdown {
    padding: 10px 0;
}
.attraction-filter-dropdown ul {
  height: auto;
  border: none;
}
.attraction-filter-dropdown ul li {
  position: relative;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.attraction-filter-dropdown ul li:after {
  clear:both;
}
.attraction-filter-dropdown li a {
  text-transform: capitalize;
  padding: 5px 10px;
  display: initial;
  color: #228b96;
  border-radius: 20px;
  font-weight: 400;
  box-shadow: none !important;
  border: none;
  transition:all linear .2s;
  -webkit-transition:all linear .2s;
  -moz-transition:all linear .2s;
}
.attraction-filter-dropdown li a:hover, .attraction-filter-dropdown li a:focus, .attraction-filter-dropdown li a.selected {
    background: #228b96;
    color: white;
}
/*div#map-view.navbar-fixed-top, div#map-view.navbar-fixed-bottom { position:initial !important; }*/
</style>
<!--  Content -->
<!-- bs-affix  onerror="" data-offset-bottom="375" data-spy="affix" -->
<section id="content" ng-controller="SearchController as vm">
	<div id="map-view" affix start-class="affix-start" stop-class="affix-stop" offset="0" stop-element="footer">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.5391499026014!2d-0.12173704886296358!3d51.50332397953459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2sCoca+Cola+London+Eye!5e0!3m2!1sen!2suk!4v1496947306981" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<div id="results">
		<div id="results-filter">
			<div class="attraction-form form form-inline">
				<ul class="list-inline">
					<li class="col-lg-3"><a href="#">Location: London <i class="glyphicon glyphicon-menu-down"></i></a></li>
					<li class="col-lg-3"><a href="#">When:Anything <i class="glyphicon glyphicon-menu-down"></i></a></li>
					<li class="col-lg-3"><a href="#">Experiences: {{vm.countSelected}} selected <i class="glyphicon glyphicon-menu-down"></i></a></li>
					<li class="col-lg-3"><a class="highlight" href="#">Our Packages <i class="glyphicon glyphicon-menu-down"></i></a></li>
				</ul>
        <!-- <div class="attraction-filter-dropdown">
          <ul class="list-inline">
            <li class="col-lg-2" ng-repeat="tag in vm.experiences">
              <div><a ng-class="{'selected': tag.selected}" ng-click="vm.selectTag(tag)">{{tag.name}}</a></div>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div> -->
			</div>
		</div>
	  <div id="results-view">
      <!-- items being paged -->
      <div class="col-lg-4" ng-repeat="items in vm.items">
        <div ng-class="{'featured': ($parent.$index == 0 && $index == 1 || $parent.$index == 1 && $index == 2 || $parent.$index == 2 && $index == 3)}" ng-repeat="item in items" id="attraction-{{item.nid}}" class="attraction">
         <div id="attraction-carousel-{{item.nid}}" class="carousel slide" data-ride="carousel">
           <!-- Wrapper for slides -->
           <div class="carousel-inner" role="listbox">
             <div ng-repeat="image in item.thumbnails" ng-class="{'active':$index == 0}" class="item">
               <img ng-src="{{image}}" />
             </div>
           </div>
           <!-- Controls -->
           <span class="left carousel-control" data-target="#attraction-carousel-{{item.nid}}" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </span>
            <span class="right carousel-control" data-target="#attraction-carousel-{{item.nid}}" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
            </span>
         </div>
        <div class="attraction-info">
          <a class="attraction-title" href="#"><h4>{{item.title}}</h4></a>
          <a class="attraction-location" href="#">{{item.field_address_postal_code}} {{item.field_address_sorting_code}}, {{item.field_address_country_code}}</a>
        </div>
         <ul class="xp-tags list-inline">
           <li ng-repeat="xp in item.experiences"><a href="#"><i class="xp-icon">{{xp}}</i></a></li>
         </ul>
         <div ng-bind-html="item.body | unsafe" class="text-left" ng-if="($parent.$index == 0 && $index == 1 || $parent.$index == 1 && $index == 2 || $parent.$index == 2 && $index == 3)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat justo ut cursus convallis. Morbi eget nisi et nisi condimentum semper. Mauris non arcu ac elit pulvinar commodo id elementum nisi. Integer vestibulum arcu in consequat ultricies. Vestibulum neque velit, ultrices sit amet.  Mauris non arcu ac elit pulvinar commodo id elementum nisi. Integer vestibulum arcu in consequat ultricies. Vestibulum neque velit, ultrices sit amet.</div>

       </div>
      </div>

      <div class="clearfix"></div>
    </div>
	 	 <!-- Pagination -->
		 <div id="results-pagination" class="text-center">



       <!-- pager -->
       <ul ng-if="vm.pager.pages.length" class="pagination">
           <li ng-class="{disabled:vm.pager.currentPage === 1}">
             <span aria-hidden="true">&laquo;</span>
           </li>
           <li ng-class="{disabled:vm.pager.currentPage === 1}">
               <a ng-click="vm.setPage(vm.pager.currentPage - 1)">
                &lsaquo;
               </a>
           </li>
           <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
               <a ng-click="vm.setPage(page)">{{page}}</a>
           </li>
           <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
               <a ng-click="vm.setPage(vm.pager.currentPage + 1)">&rsaquo;</a>
           </li>
           <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
               <a ng-click="vm.setPage(vm.pager.totalPages)">
                 <span aria-hidden="true">&raquo;</span>
               </a>
           </li>
       </ul>
		 </div>
	  </div>
  </div>

</section>
